<!DOCTYPE html>

<html lang="es">

<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>RoadEye</title>

    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

    <div class="header">
        🚗 RoadEye
    </div>

    <div class="video">
        <img src="/video">
    </div>

    <div class="cards">

        <div class="card">

            <h2>Estado</h2>

            <p id="estado">Inicializando...</p>

        </div>

        <div class="card">

            <h2>Grabación</h2>

            <button id="start">🟢 GRABAR</button>

            <br><br>

            <button id="stop">🔴 PARAR</button>

        </div>

        <div class="card">

            <h2>GPS</h2>

            <p>Sin señal</p>

        </div>

    </div>

    <script>

        document.getElementById("start").onclick = async () => {

            await fetch("/api/record/start");

        };

        document.getElementById("stop").onclick = async () => {

            await fetch("/api/record/stop");

        };

    </script>

    <script src="/static/js/app.js"></script>

</body>

</html>